.user-container {
  background-color: bisque;
}

.user__content {
  position: relative;
  overflow: hidden;
}

.user__details--button {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -100%;
  /* left: 0; */
  background-color: rgba(195, 93, 93, 0.6);
  transition: all 0.3s;
  padding: 10px;
  box-sizing: border-box;
}

.user-container:hover .user__details--button {
  left: 0;
}

.user__details--button table {
  margin-bottom: 10px;
  border-collapse: collapse;
  width: 100%;
}

.user__details--button td {
  border: 1px solid rgb(216, 199, 197);
  padding: 3px;
}

.user__details--table td:first-child {
  width: 7rem;
}

.userDetailsShowButton {
  padding: 12px 25px;
  border: none;
  margin-left: 77px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}
